<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codelac - Leche Fresca</title>
    <link rel="stylesheet" href="../css/menu2.css"> <!-- Enlace al archivo CSS -->
</head>

<body>
    <div class="menu">Menu</div>
    <div class="title">Leche fresca de la región, directamente a tu mesa</div>

    <div class="buttons-container">
        <div class="button producto" onclick="location.href='../views/producto.html'">Producto</div>
        <div class="button inventario" onclick="location.href='../views/inventario.html'">Inventario</div>
        <div class="button produccion" onclick="location.href='../views/produccion.html'">Producción</div>
        <div class="button pais" onclick="location.href='../views/pais.html'">País</div>
        <div class="button cliente" onclick="location.href='../views/cliente.html'">Cliente</div>
        <div class="button venta" onclick="location.href='../views/venta.html'">Venta</div>
        <div class="button perfil" onclick="location.href='../views/perfil.html'">Perfil</div>
    </div>

    <!-- Botón de informe en la esquina -->
    <div class="button informe" onclick="location.href='../views/informe.html'">Informe</div>
</body>

</html>