<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codelac Montería</title>
    <link rel="stylesheet" href="../css/menu.css"> <!-- Enlace al archivo CSS -->
</head>

<body>
    <div class="container">
        <div class="content">
            <div class="header">
                <h2 style="font-size: 70px;">Bienvenidos a la pagina web cooperativa lechera de Montería (Córdoba) Codelac
                </h2>
            </div>
            <div class="left">
                <p style="font-size: 50px; color: rgb(18, 18, 143);">Codelac Montería: La frescura de nuestra región en
                    cada gota.
                </p>

                <!-- Botón que redirige a menu2.html -->
                <a href="../views/menu2.html" class="menu-button">Menu</a>

                <div class="contact-icons">
                    <p style="font-size: 50px;">Contacto</p>
                    <!-- Icono de WhatsApp -->
                    <a href="https://wa.me/3113750671" target="_blank">
                        <img src="../img/wuasat.png" alt="WhatsApp">
                    </a>
                    <!-- Icono de Email -->
                    <a href="mailto:contacto@codelac.com">
                        <img src="../img/email.png" alt="Email">
                    </a>
                    <!-- Icono de Teléfono -->
                    <a href="tel:+3113750671">
                        <img src="../img/celular.png" alt="Phone">
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>